@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
}

/*****HEADER****/

header {

    display: flex;
    justify-content: space-evenly;
    width: 100% ;
    height: 20vh;
    background-color: rgb(28, 96, 98);

}

#top-title {

    display:flex;
    justify-content: space-evenly;
    width: 50%;
    height: 30%;
    font-size: 30px;
    margin-left: 20px;

}

.btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 7px;
    background-color: rgba(179, 186, 189, 1);
    border-radius: 4px;
    width: 100px;
    margin-top: 10px;
    height: 30px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
    transition: 0.4s;
}

.btn a
{
    color: white;
}

.btn:hover {
    color: white;
    box-shadow: 0 0 20px (112, 103, 100, 0.6);
    background-color: rgb(20, 66, 68);
}

.menu-nav{
    display: flex;
}

/*****INDEX****/

#banner {
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: rgb(245, 140, 222);
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 60px;
    color: rgb(28, 96, 98) ;


}

h4 {

    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;

}

input {

    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    margin: 2px;
    padding: 5px;
    font-size: 15px;
    border: 3px solid rgb(177, 122, 165);

}

i {

    text-align: center;
    color: rgb(177, 122, 165);
    cursor: pointer;
    font-size: 33px;
    margin: 4px;

}

i:hover {

    color: rgb(28, 96, 98) ;

}

/****FOOTER***/

#footer-container {

    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 18vh;
    background-color: rgba(180, 180, 180, 0.692);

}

#icone {

    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 60px;

}

@media screen and (min-width:1200px){
    form
{
    display: flex;
    justify-content: center;
}

#nav-index{

    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
}

h3 {

    color: azure;
    font-size: 45px;
    cursor: pointer;

}

}
@media screen and (max-width:1199px) and (min-width:1000px){
    form
{
    display: flex;
    justify-content: center;
}
#nav-index{

    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
}

h3 {

    color: azure;
    font-size: 35px;
    cursor: pointer;

}

}
@media screen and (max-width:999px) and (min-width:700px){
#nav-index{

    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
}
form
{
    display: flex;
    justify-content: center;
}

h3 {

    color: azure;
    font-size: 25px;
    cursor: pointer;

}

.btn_center{
    display: flex;
    flex-direction: row;
}
}
@media screen and (max-width:699px){
    #nav-index{
    
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
    }
    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
    
        color: azure;
        font-size: 25px;
        cursor: pointer;
    
    }

    

    input.recherche{
        width: 75%;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 35px;
        color: rgb(28, 96, 98) ;
    
    
    }

.btn_center{
    display: flex;
    flex-direction: row;
}
    }

