/*MISE EN PAGE*/

* {
    font-family: monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*TABLE*/

table {
    width: 60%;
    min-height: 70vh;
    background: #dfdddd6b;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid rgba(185, 185, 185, 0.397);

}

th {


    padding: 10px;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: rgb(20, 66, 68);


}

td {
    text-align: center;
    padding: 10px;

}

td:hover {
    box-shadow: 300px 0 0 0 pink inset;
}

button {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(20, 66, 68);
    border-radius: 4px;
    width: 50%;
    height: 60%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
    border: none;
    margin: auto;


}

a {

    color: white;


}