/*MISE EN PAGE*/

*{
    font-family: monospace;
}
html, body{
    margin: 0;
    padding: 0;
}

main{
    height:100vh;
}

/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*TABLE*/

table{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    padding: 10px;
    border: 1px solid black;
}

td:hover{
    box-shadow:300px 0 0 0 greenyellow inset;
}