
/* CONTAINER */
.container {
    padding: 16px;
    width: 500px;
}
.block {
    padding: 16px;
}
.container h2 {
    font-size: 3rem;
}
section {
    margin: auto;
}
/* FORM */
section form {
    justify-content: center;
    padding: 1rem;
}
.container form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password], input[type=date]{
    background-color:rgb(240, 240, 240);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#msg {
    background-color:rgb(240, 240, 240);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    height: 200px;
    box-sizing: border-box;
}

input[type=radio]{
    margin: 15px 0;
}
fieldset div {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
fieldset label{
    margin: 5px;
}
#center-register {
    margin-left: 50%;
}
#sex {
    background-color:rgb(240, 240, 240);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#study-level {
    background-color:rgb(240, 240, 240);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: rgb(045, 146, 022);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    font-size: 170px;
}


